@media (min-width: 400px) and (max-width: 900px) {

  .h1-pages {
    font-size: 26px;
    max-width: 90%;
    padding: 12px 20px;
    text-align: center;
    margin: 20px auto;
  }
  .main-inicio .h1-inicio {
    font-size: 40px;
    letter-spacing: 6px;
  }

 
  .main-inicio .imagen-principal {
    max-width: 100%;
    margin: 30px auto 0 auto;
  }
  .main-inicio .div-fade-right,
  .main-inicio .section-2-inicio .div-fade-left {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 40px auto;
  }
  .main-inicio .div-fade-right p,
  .main-inicio .section-2-inicio .div-fade-left p {
    max-width: 100%;
    font-size: 16px;
  }
  .img-fade {
    width: 100%;
    height: auto;
  }


  .section-flex-row {
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    gap: 20px;
  }
  .div-parrafos-quienessomos {
    max-width: 100%;
    text-align: center;
  }
  .rectangulo-bordo-pages .imagen-pages {
    width: 100%;
    height: auto;
  }


  .div-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .card {
    width: 90%;
  }
  .container-carrusel {
    max-width: 90%;
    margin: 0 auto;
  }


  .div-testimonios {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    text-align: center;
  }


  .section-dondeestamos {
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    text-align: center;
  }
  .div-parrafos-dondeestamos-1,
  .div-parrafos-dondeestamos-2 {
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  .div-img-dondeestamos {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .div-img-dondeestamos img {
    width: 100%;
    height: auto;
  }


  .section-flex {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    text-align: center;
  }
  .div-parrafos-pages {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  form, .mb-3 {
    width: 100%;
  }


  ul, li {
    text-align: center;
  }


  .rectangulo-bordo-pages {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }


  .imagen-pages,
  .main-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }


  footer {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
  .logo {
    justify-content: center;
    margin-top: 20px;
  }
  .redes {
    gap: 15px;
  }

}
