@use '../utilities/variables';
@use '../utilities/mixins';
@use '../utilities/extend';

.container-carrusel {
  max-width: 400px;
  margin: 0 auto;

  .carousel-inner {
    img {
      width: 100%;
      max-height: 300px;
      height: auto;
    }
  }
}
