@use '../utilities/variables';
@use '../utilities/mixins';
@use '../utilities/extend';

.div-cards {
  margin-top: 100px;
  max-width: 100%;
  gap: 32px;
  @include mixins.flex(row, center, stretch);
}

.titulo-cards {
  text-align: center;
  margin-top: 100px;
}

.div-testimonios {
  max-width: 100%;
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 60px;
  @include mixins.flex(row, center, stretch);
}

.card {
  width: variables.$card-width;
  background-color: variables.$primary-color;
  color: variables.$secondary-color;

  .card-text {
    @extend %italic-light;
  }
}

