@use "../utilities/extend";
@use "../utilities/mixins";
@use "../utilities/variables";



.article-pages { 
    margin: 50px auto; 
}

.section-flex {
  @include mixins.flex(column, space-between, center);
  gap: 40px;
  margin-top: 30px;
}

.div-parrafos-pages {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.p-lightitalic { 
    @extend %italica !OPTIONAL;
 }
