@use '../utilities/variables';
@use '../utilities/mixins';
@use '../utilities/extend';



main{
  @extend %main
}


.navbar {
  padding: 0;
  margin: 0;
  font-family: variables.$font-primary;
  font-weight: 400;
  font-size: variables.$base-font-size;

  .navbar-brand {
    &.margen-nav-logo {
      margin-left: variables.$margin-nav-logo;
    }

    .header-img {
      height: 80px;
    }
  }

  .navbar-toggler {
    color: variables.$primary-color;
  }


  .margen-nav-lista {
    margin-right: variables.$margin-nav-lista;
    gap: variables.$gap-nav-lista;
    display: flex;
    align-items: center;
  }


  .nav-link {
    text-decoration: none;
    color: variables.$text-color;
    transition: border-bottom 0.2s ease;

    &:hover {
      border-bottom: 1px solid variables.$primary-color;
    }

    &.active {
      border-bottom: 2px solid variables.$primary-color;
    }
  }
}


.section-flex {
  @include mixins.flex(column, center, center);
  align-items: center;
}

.section-flex-row {
  @include mixins.flex(row, space-between, flex-end);
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 100px;
  max-width: 100%;
  align-items: flex-end;
}

.section-actividades {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.rectangulo-bordo {
  background-color: variables.$primary-color;
  padding: 30px;
}

.rectangulo-bordo-pages {
  background-color: variables.$primary-color;
  padding: 32px;
  margin-bottom: 90px;
}


.imagen-pages {
  height: 500px;
}

.img-fade {
  height: 300px;
}

.main-img {
  height: 337px;
}

.img-footer {
  height: 50px;
}

.header-img {
  height: 80px;
}

.imagen-principal {
  max-width: 70%;
  margin-top: 120px;
  margin-left: 250px;
}


footer {
  display: flex;
  justify-content: flex-end;
  font-family: variables.$font-primary;
  font-weight: 500;
  color: variables.$text-color;
}

.footer-inicio {
  color: variables.$secondary-color;
  margin-top: 30px;
}

.columna {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: end;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.redes-img {
  height: 20px;
}


.h1-pages {
  background-color: variables.$primary-color;
  color: variables.$secondary-color;
  padding: 16px 50px;
  max-width: 500px;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

.titulo-cards {
  text-align: center;
  margin-top: 100px;
}


.div-cards {
  margin-top: 100px;
  max-width: 100%;
  gap: 32px;
  @include mixins.flex(row, center, stretch);
}

.card {
  width: variables.$card-width;
  background-color: variables.$primary-color;
  color: variables.$secondary-color;

  .card-text {
    @extend %italica;
  }
}


.container-carrusel {
  max-width: 400px;
  margin: 0 auto;

  .carousel-inner {
    img {
      width: 100%;
      max-height: 300px;
      height: auto;
    }
  }
}


.div-testimonios {
  max-width: 100%;
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 60px;
  @include mixins.flex(row, center, stretch);
}


.p-copyright {
  letter-spacing: 3px;
}
