@use '../utilities/variables';
@use '../utilities/mixins';
@use '../utilities/extend';

.main-inicio {
  margin-top: 70px;

  .h1-inicio {
    font-size: variables.$h1-inicio-size;
    letter-spacing: 14px;
    text-align: center;
  }

  .imagen-principal {
    max-width: 70%;
    margin-top: 120px;
    margin-left: 250px;
    display: block;
  }

  .div-fade-right {
    max-width: 50%;
    text-align: start;
    @include mixins.flex(row, space-between, center);
    margin: 100px auto;
    gap: 20px;

    .parrafo-inicio {
      max-width: 100%;
      font-size: variables.$small-font-size;
    }

    .img-fade {
      height: 300px;
      display: block;
    }
  }

  .section-2-inicio {
    margin-top: 200px;

    .h2-inicio {
      font-size: variables.$h2-inicio-size;
      letter-spacing: 7px;
      text-align: center;
    }

    .div-fade-left {
      max-width: 50%;
      @include mixins.flex(row, space-between, center);
      margin: 200px auto;
      gap: 20px;

      .parrafo-2-inicio {
        max-width: 50%;
        font-size: variables.$small-font-size;
        text-align: end;
      }

      .img-fade {
        height: 300px;
        display: block;
      }
    }
  }
}

.p-lightitalic {
  @extend %italica;
}
