@use '../utilities/variables';
@use '../utilities/mixins';
@use '../utilities/extend';

.main-inicio {
  margin-top: 70px;
}

.parrafo-inicio {
  max-width: 50%;
  font-size: Variables.$small-font-size;
}

.parrafo-2-inicio {
  max-width: 50%;
  font-size: variables.$small-font-size;
  justify-content: end;
  text-align: end;
}

.div-fade-right {
  max-width: 50%;
  text-align: start;
  @include mixins.flex(row, space-between, center);
  margin: 100px auto;
}

.div-fade-left {
  max-width: 50%;
  @include mixins.flex(row, space-between, center);
  margin: 200px auto;
}
