@use '../utilities/variables';
@use '../utilities/mixins';
@use '../utilities/extend';


.h1-inicio {
  font-size: 70px;
  letter-spacing: 14px;
  text-align: center;
}

.h2-inicio {
  font-size: 50px;
  letter-spacing: 7px;
  text-align: center;
}

.section-2-inicio {
  margin-top: 200px;
}
