@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-between($direction, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: $align;
}
