
$primary-color: #54353E;
$secondary-color: #EDE5D8;
$text-color: #54353E;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;

$base-font-size: 20px;
$h1-size: 40px;
$small-font-size: 18px;

$card-width: 300px;

$margin-nav-logo: 30px;
$margin-nav-lista: 200px;
$gap-nav-lista: 150px;
