$color-bordo: #54353E;
$color-crema: #EDE5D8;
$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;


$header-img-height: 80px;
$img-footer-height: 50px;
$main-img-height: 337px;
$redes-img-height: 20px;