
$primary-color: #54353E;
$secondary-color: #EDE5D8;
$text-color: #54353E;
$accent-color: #EDE5D8;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$h1-size: 40px;
$h1-inicio-size: 70px;
$h2-inicio-size: 50px;
$base-font-size: 20px;
$small-font-size: 18px;

$margin-nav-logo: 30px;
$margin-nav-lista: 200px;
$gap-nav-lista: 150px;
$card-width: 300px;