/* Montserrat y Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EDE5D8;
}

/* font-family: "Montserrat", sans-serif;*/
/*font-family: "Roboto", sans-serif;*/
.p-lightitalic, .card .card-text {
  font-style: italic;
  font-weight: 100;
}

main {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #54353E;
}

.navbar {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.navbar .navbar-brand.margen-nav-logo {
  margin-left: 30px;
}
.navbar .navbar-brand .header-img {
  height: 80px;
}
.navbar .navbar-toggler {
  color: #54353E;
}
.navbar .margen-nav-lista {
  margin-right: 200px;
  gap: 150px;
  display: flex;
  align-items: center;
}
.navbar .nav-link {
  text-decoration: none;
  color: #54353E;
  transition: border-bottom 0.2s ease;
}
.navbar .nav-link:hover {
  border-bottom: 1px solid #54353E;
}
.navbar .nav-link.active {
  border-bottom: 2px solid #54353E;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.section-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 100px;
  max-width: 100%;
  align-items: flex-end;
}

.section-actividades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangulo-bordo {
  background-color: #54353E;
  padding: 30px;
}

.rectangulo-bordo-pages {
  background-color: #54353E;
  padding: 32px;
  margin-bottom: 90px;
}

.imagen-pages {
  height: 500px;
}

.img-fade {
  height: 300px;
}

.main-img {
  height: 337px;
}

.img-footer {
  height: 50px;
}

.header-img {
  height: 80px;
}

.imagen-principal {
  max-width: 70%;
  margin-top: 120px;
  margin-left: 250px;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #54353E;
}

.footer-inicio {
  color: #EDE5D8;
  margin-top: 30px;
}

.columna {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: end;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.redes-img {
  height: 20px;
}

.h1-pages {
  background-color: #54353E;
  color: #EDE5D8;
  padding: 16px 50px;
  max-width: 500px;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

.titulo-cards {
  text-align: center;
  margin-top: 100px;
}

.div-cards {
  margin-top: 100px;
  max-width: 100%;
  gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.card {
  width: 300px;
  background-color: #54353E;
  color: #EDE5D8;
}
.container-carrusel {
  max-width: 400px;
  margin: 0 auto;
}
.container-carrusel .carousel-inner img {
  width: 100%;
  max-height: 300px;
  height: auto;
}

.div-testimonios {
  max-width: 100%;
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.p-copyright {
  letter-spacing: 3px;
}

.main-inicio {
  margin-top: 70px;
}
.main-inicio .h1-inicio {
  font-size: 70px;
  letter-spacing: 14px;
  text-align: center;
}
.main-inicio .imagen-principal {
  max-width: 70%;
  margin-top: 120px;
  margin-left: 250px;
  display: block;
}
.main-inicio .div-fade-right {
  max-width: 50%;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  gap: 20px;
}
.main-inicio .div-fade-right .parrafo-inicio {
  max-width: 100%;
  font-size: 18px;
}
.main-inicio .div-fade-right .img-fade {
  height: 300px;
  display: block;
}
.main-inicio .section-2-inicio {
  margin-top: 200px;
}
.main-inicio .section-2-inicio .h2-inicio {
  font-size: 50px;
  letter-spacing: 7px;
  text-align: center;
}
.main-inicio .section-2-inicio .div-fade-left {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 200px auto;
  gap: 20px;
}
.main-inicio .section-2-inicio .div-fade-left .parrafo-2-inicio {
  max-width: 50%;
  font-size: 18px;
  text-align: end;
}
.main-inicio .section-2-inicio .div-fade-left .img-fade {
  height: 300px;
  display: block;
}

.article-pages {
  margin: 50px auto;
}

.section-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0 40px;
}

.div-parrafos-quienessomos {
  max-width: 50%;
  text-align: start;
}
.div-parrafos-quienessomos h2 {
  margin-bottom: 10px;
}
.div-parrafos-quienessomos p {
  line-height: 1.5;
}

.rectangulo-bordo-pages {
  background-color: #54353E;
  padding: 32px;
  margin-bottom: 90px;
}
.rectangulo-bordo-pages .imagen-pages {
  height: 500px;
}

.article-pages {
  margin: 50px auto;
}

.section-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.div-parrafos-pages {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.div-parrafos-pages p {
  max-width: 100%;
}

.container-carrusel {
  max-width: 400px;
  margin: 0;
}

.titulo-cards {
  text-align: center;
  margin-top: 100px;
}

.div-cards {
  margin-top: 100px;
  max-width: 100%;
  gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.div-testimonios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 60px;
}

.article-pages {
  margin: 50px auto;
}

.section-dondeestamos {
  display: flex;
  justify-content: space-evenly;
  margin: 60px auto;
}

.div-parrafos-dondeestamos-1 {
  text-align: start;
  margin-top: 60px;
  max-width: 50%;
}

.div-parrafos-dondeestamos-2 {
  text-align: center;
  max-width: 50%;
  margin: 60px auto;
}

.div-img-dondeestamos {
  display: flex;
  justify-content: space-evenly;
  gap: 120px;
}

.ul-atractivos {
  margin: 64px auto;
}

.rectangulo-bordo-pages {
  background-color: #54353E;
  padding: 32px;
  margin-bottom: 90px;
}

.article-pages {
  margin: 50px auto;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.div-parrafos-pages {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

@media (min-width: 400px) and (max-width: 900px) {
  .navbar .margen-nav-lista {
    margin-right: 0;
    gap: 20px;
    align-items: end;
  }
  .h1-pages {
    font-size: 26px;
    max-width: 90%;
    padding: 12px 20px;
    text-align: center;
    margin: 20px auto;
  }
  .main-inicio .h1-inicio {
    font-size: 40px;
    letter-spacing: 6px;
  }
  .main-inicio .imagen-principal {
    max-width: 100%;
    margin: 30px auto 0 auto;
  }
  .main-inicio .div-fade-right,
  .main-inicio .section-2-inicio .div-fade-left {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 40px auto;
  }
  .main-inicio .div-fade-right p,
  .main-inicio .section-2-inicio .div-fade-left p {
    max-width: 100%;
    font-size: 16px;
  }
  .img-fade {
    width: 100%;
    height: auto;
  }
  .section-flex-row {
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    gap: 20px;
  }
  .div-parrafos-quienessomos {
    max-width: 100%;
    text-align: center;
  }
  .rectangulo-bordo-pages .imagen-pages {
    width: 90%;
    height: auto;
  }
  .div-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .div-cards .card {
    width: 90%;
  }
  .container-carrusel {
    max-width: 90%;
    margin: 0 auto;
  }
  .div-testimonios {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    text-align: center;
  }
  .section-dondeestamos {
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    text-align: center;
  }
  .section-dondeestamos .div-parrafos-dondeestamos-1,
  .section-dondeestamos .div-parrafos-dondeestamos-2 {
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  .section-dondeestamos .div-img-dondeestamos {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .section-dondeestamos .div-img-dondeestamos img {
    width: 300px;
  }
  .section-flex {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    text-align: center;
  }
  .div-parrafos-pages {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  form,
  .mb-3 {
    width: 100%;
  }
  ul,
  li {
    text-align: center;
  }
  .rectangulo-bordo-pages {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  }
  .imagen-pages,
  .main-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  footer {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
  footer .logo {
    justify-content: center;
    margin-top: 20px;
  }
  footer .redes {
    gap: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
